{
  "comments": false,
  "minified": true,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "14.20" },
        "useBuiltIns": false,
        "modules": "commonjs",
        "loose": true
      }
    ]
  ],
  "plugins": []
}
